# Основы Python. Базовые типы данных. Ввод-вывод данных. Списки и кортежи.

## Основы Python

Перед началом работы поймем, с какой версией Python мы работаем:

In [ ]:
%%python --version

Python 3.10.12

### Первая программа

Данный ноутбук разработан на версии Python 3.10.12

Версионирование в Python - обширная тема, подробнее о нем можно почитать [тут](https://packaging.python.org/en/latest/discussions/versioning/)

По традиции, первая программа на Python - "Привет, мир!":

In [ ]:
print("Hello, World!")

Hello, World!

Здесь была использована функция - `print`, она позволяет выводить на экран строки и различные значения

### Переменные в Python

Создать переменную можно следующим образом:

In [61]:
a = 10

Вывести значение переменной можно в интерактивном режиме(в colab):

In [64]:
a

10

In [66]:
a
a=10

Или при помощи функции `print`:

In [ ]:
print(a)

10

### Какие имена переменных допустимы?

Имена переменных удовлетворяют следующим правилам:

- имя должно содержать только буквы, цифры и знаки нижнего подчеркивания (`_`)
- имя должно начинаться только с буквы или нижнего подчеркивания

**Примечания:**

1. Имена переменных чувствительны к регистру(case-sensetive) - `age`, `Age` и `AGE` являются тремя разными именами
2. Технически у вас есть возможность использовать не только буквы английского алфавита, но и русские, однако, так категорически не рекомендуется делать из-за возможных проблем с кодировкой
3. Советую называть переменные осмысленно, чтобы другой программист смог понять за что именно отвечает та или иная переменная

Попробуем создать переменные с разными именами и посмотрим на результат:

In [ ]:
a = 10
A = 11
_a = 12
__a = 13
___ = 14
_a1 = 15

a, A, _a, __a, ___, _a1

(10, 11, 12, 13, 14, 15)

In [ ]:
1a = 10

SyntaxError: invalid decimal literal (<ipython-input-26-1be9f8edb7cd>, line 1)

In [ ]:
&a = 10

SyntaxError: invalid syntax (<ipython-input-28-6ee3cb6f8e42>, line 1)

In [ ]:
$a = 10

SyntaxError: invalid syntax (<ipython-input-29-6ccfd8e185c9>, line 1)

In [ ]:
переменная = 10
переменная

10

### Множественное присваивание переменных

В Python добавлено очень много вещей, которые облегчают жизнь программисту, хоть и не являются критичными (можно обойтись и без них) - **синтаксический сахар**.

В Python можно одновременно присваивать двум переменным одно значение:

In [ ]:
a = b = 100
a, b

(100, 100)

In [ ]:
a = 101
a, b

(101, 100)

Также можно присваивать в одной строке нескольким переменным значения:

In [ ]:
a, b = 100, 101
a, b

(100, 101)

Можно поменять значения переменных:

In [ ]:
a, b = b, a
a, b

(101, 100)

Без возможности такого присваивания смена значений 2ух переменных выглядела бы сложнее, необходимо создать еще одну переменную:

In [ ]:
a, b = 100, 101
c = a
a = b
b = c
a, b

(101, 100)

### Функция `help`

Ранее мы познакомились с функцией `print`, теперь рассмотрим функцию `help`.

Эта функция крайне полезна, она позволяет получить информацию о разных объектах, например, для функции `print` справка:

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

Попробуем использовать функцию `print` вместе с заданием аргументов sep и end:

In [ ]:
x = "Hello"
y = "world"
print(x, y, sep=", ", end="!")

Hello, world!

### Базовая арифметика

Одна из основных задач языка программирования - выполнять арифметические операции над переменными. Само собой, Python тоже позволяет это делать:

`+`, `-`, `*`, `/` - простейшие операции

In [ ]:
(1 + 8) / 4 - 2 * 3

-3.75

`//`, `%` - целочисленное деление и остаток от деления

In [ ]:
45 // 6, 45 % 6

(7, 3)

`**` - возведение в степень

In [ ]:
2 ** 10

1024

Помимо стандартного оператора присваивания(`=`), в Python есть вспомогательные операторы, которые перед присваиванием выполняют арифметическую операцию:

In [ ]:
a = 1900
a += 1   # a = a + 1
a -= 2   # a = a - 2
a *= 3   # a = a * 3
a /= 4   # a = a / 4
a //= 2  # a = a // 2
a **= 2  # a = a ** 2
a %= 6   # a = a % 6

## Базовые типы данных

В Python существует несколько групп типов, в данной части ноутбука будут рассмотрены следующие группы:
* Text Type:	str
* Numeric Types:	int, float, complex
* Boolean Type:	bool
* None Type:	NoneType

Помимо перечисленных выше есть и другие группы типов данных, о них вы узнаете позднее в курсе:
* Sequence Types:	list, tuple, range
* Mapping Type:	dict
* Set Types:	set, frozenset
* Binary Types:	bytes, bytearray, memoryview

### Тип данных `int`

`int` - целочисленный тип данных:

In [ ]:
a = 42
a, type(a)

(42, int)

Данный тип поддерживает длинную арифметику (подробнее [тут](https://www.codementor.io/@arpitbhayani/how-python-implements-super-long-integers-12icwon5vk)):

In [ ]:
a = 10 ** 1000
a

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

Удобная форма записи длинных целых чисел:

In [ ]:
a = 100_000_000
a

100000000

### Тип данных `float`

`float` - тип данных, хранящий число с плавающей точкой (дробное число). В качестве разделителя используется только точка `.`:

In [ ]:
a = 42.42
a, type(a)

(42.42, float)

Имеется удобная форма записи - экспоненциальная:

In [ ]:
1.5e-4

0.00015

Также в Python имеются специальные значения для бесконечностей и значения "not a number" (`nan`):

In [ ]:
float('inf'), 2 * float('inf'), float('inf') + 1000000, float('inf') - float('Inf')

(inf, inf, inf, nan)

In [ ]:
type(float('inf'))

float

Тип `float` основан на `double` из C, поэтому поддерживает значения только в определенном диапазоне и с определенной точностью:

In [ ]:
from sys import float_info

precision = float_info.min * float_info.epsilon
max_value = float_info.max
min_value = float_info.min

precision, max_value, min_value

(5e-324, 1.7976931348623157e+308, 2.2250738585072014e-308)

In [ ]:
max_value, max_value * 2

(1.7976931348623157e+308, inf)

In [ ]:
precision, precision / 2

(5e-324, 0.0)

Для округления чисел с плавающей точкой в Python имеется функция `round`, работающая по правилу ["округления банкира"](https://ru.wikipedia.org/wiki/%D0%9E%D0%BA%D1%80%D1%83%D0%B3%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5#:~:text=banker's%20rounding%20%E2%80%94%20%C2%AB%D0%BE%D0%BA%D1%80%D1%83%D0%B3%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5%20%D0%B1%D0%B0%D0%BD%D0%BA%D0%B8%D1%80%D0%B0%C2%BB,(%D0%BC%D0%BE%D0%B6%D0%B5%D1%82%20%D0%B8%D1%81%D0%BF%D0%BE%D0%BB%D1%8C%D0%B7%D0%BE%D0%B2%D0%B0%D1%82%D1%8C%D1%81%D1%8F%20%D0%B2%20%D1%81%D1%82%D0%B0%D1%82%D0%B8%D1%81%D1%82%D0%B8%D0%BA%D0%B5)) (**до ближайшего четного числа**):

In [ ]:
round(0.49), round(0.5), round(0.51), round(1.5)

(0, 0, 1, 2)

Дополнительно можно указать до какого знака стоит округлять:

In [ ]:
round(3.1415, 2)

3.14

#### Арифметика с плавающей точкой

Т.к. в оперативной памяти для записи дробного числа отведено фиксированное кол-во бит (ячеек памяти), то часто мы не можем абсолютно точно записать число и абсолютно точно проводить операции над ними, часто возникает небольшая погрешность:

In [ ]:
0.1 + 0.2

0.30000000000000004

Этого пугаться не стоит, такое поведение свойственно всем языкам программирования.
Подробнее про числа с плавающей точкой - https://habr.com/ru/post/112953/

In [92]:
numerator, denominator = (0.1).as_integer_ratio()
print(f"0.1 ≈ {format(numerator / denominator, ".55f")}")
numerator, denominator = (0.2).as_integer_ratio()
print(f"0.2 ≈ {format(numerator / denominator, ".55f")}")
numerator, denominator = (0.3).as_integer_ratio()
print(f"0.3 ≈ {format(numerator / denominator, ".55f")}")
numerator, denominator = (0.1+0.2).as_integer_ratio()
print(f"0.1+0.2 ≈ {format(numerator / denominator, ".55f")}")

0.1 ≈ 0.1000000000000000055511151231257827021181583404541015625
0.2 ≈ 0.2000000000000000111022302462515654042363166809082031250
0.3 ≈ 0.2999999999999999888977697537484345957636833190917968750
0.1+0.2 ≈ 0.3000000000000000444089209850062616169452667236328125000

### Задачи

1. Найти длину окружности и площадь круга. На вход подается радиус

2. Найти площадь треугольника. На вход длины трех сторон. Вывести площадь с округлением до одного знака после запятой

In [153]:
r = float(input("Введите радиус: "))
pi = 3.14
C = 2*pi*r
S=pi*r**2
print("Длина окружности ", C, "\nПлощадь круга ", S, sep='\t', end = '.')

Введите радиус:  4

Длина окружности 	25.12
Площадь круга 	50.24.

In [157]:
a = float(input())
b = float(input())
c = float(input())
p=(a+b+c)/2
S=(p*(p-a)*(p-b)*(p-c))**(1/2)
print(round(S,1))

 4
 5
 4

7.8

### Тип данных `complex`

`complex` - тип для работы с комплексными числами. Мнимая часть описывается с помощью символа `j` (вместо `i` в математике):

In [ ]:
2 + 3j, type(2 + 3j)

((2+3j), complex)

In [ ]:
(2 + 3j) * (2 + 3j)

(-5+12j)

Создавать `complex` числа можно по-разному, также у типа `complex` есть действительная и мнимая часть, которую можно получить, используя обращение к полям `real` и `imag`:

In [ ]:
complex(5+2j)

(5+2j)

In [ ]:
a, b = 5, 2
complex(a, b), complex(a, b).real, complex(a, b).imag

((5+2j), 5.0, 2.0)

Чтобы лучше понять, как устроен тип `complex`, можно прочитать вывод после вызова функции `help`:

In [ ]:
help(complex)

Help on class complex in module builtins:

class complex(object)
 |  complex(real=0, imag=0)
 |
 |  Create a complex number from a real part and an optional imaginary part.
 |
 |  This is equivalent to (real + imag*1j) where imag defaults to 0.
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Convert to a string according to format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  conjugate(self, /)
 |      Return the complex conjugate of its argument. (3-4j).conjugate() == 3+4j.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  real
 |      the real part of a complex number

### Тип данных `bool`

`bool` - логический тип данных. Может принимать лишь два значения - `True` и `False` (именно с заглавной буквы):

In [ ]:
True, type(True), False, type(False)

(True, bool, False, bool)

 Тип `bool` является подтипом `int`, поэтому между ними возможны операции сравнения без явного приведения типов:

In [ ]:
True == 1, True > 2

(True, False)

### Тип данных `str`

`str` - строковый тип данных, т.е. может хранить в себе символьные строки произвольной длины:

In [ ]:
"abc", type("abc")

('abc', str)

Выделяется двойными или одинарными кавычками (открывающая и закрывающая должны быть **одинаковы**!):

In [ ]:
"abc", 'abc', "'abc'", '"abc"'

('abc', 'abc', "'abc'", '"abc"')

In [ ]:
"abc'

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-47-c87f369d247a>, line 1)

В Python также возможны многострочные строки (multiline string), для их создания необходимо использовать тройное `"` или `'`:

In [ ]:
string = """и
я
тоже
строка"""

print(string)

и
я
тоже
строка

В Python есть много возможностей для форматирования строк, подробнее почитать можно [тут](https://docs.python.org/3/tutorial/inputoutput.html#fancier-output-formatting), ниже будет несколько примеров форматирования:

In [ ]:
my_name = "MIPT"

output_str_1 = f"Hello world from {my_name}!"
output_str_2 = "Hello world from {name}!".format(name=my_name)

output_str_1, output_str_2

('Hello world from MIPT!', 'Hello world from MIPT!')

Приведение к строковому типу данных производится за счет функции `str`:

In [ ]:
str(0.14), str("MIPT") == "MIPT", str(0) == 0

('0.14', True, False)

Со строками можно производить конкатенацию, замену их элементов, поиск подстрок в строках, подробнее об этом будет далее в курсе.

### NoneType

`NoneType` - специальный тип данных для объекта `None`:

#### Что такое `None`?

`None` - специальное значение переменной, означающее "ничего" или "отсутствие значения". Является аналогом `null` из других языков программирования.

Существует много случаев, когда следует использовать None.

Часто вы хотите выполнить действие, которое может работать либо завершиться неудачно. Используя `None`, вы можете проверить успех действия.

Например, с помощью библиотеки `re`(подробнее про нее можно прочитать [тут](https://docs.python.org/3/library/re.html)) можно проверять вхождения паттерна в строку, в данном случае проверяется вхождение "Goodbye" в строку "Hello, World!", поскольку вхождения нет, то возвращаемое значение - None:

In [ ]:
import re
matching = re.match("Goodbye", "Hello, World!")

if matching is None:
  print("It doesn't match.")

It doesn't match.

`None` - такое значение, которое не является ни `True`, ни `False`, ни 0, ни пустой строкой(`""`)

In [ ]:
x = None

x == True, x == False, x == None, x == 0, x == ""

(False, False, True, False, False)

#### is `None` or == `None`?

In [39]:
a = 500
b = 500

a is b, a == b

(False, True)

In [43]:
id(a), id(b)

(1682174405488, 1682174405648)

In [45]:
a = 5
b = 5

a is b, a == b

(True, True)

In [47]:
id(a), id(b)

(140710802635320, 140710802635320)

In [49]:
id(5)

140710802635320

In [51]:
a = None
b = None

a is b, a == b

(True, True)

In [55]:
id(a), id(b), id(None)

(140710801590224, 140710801590224, 140710801590224)

In [57]:
500 is 500

<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
C:\Users\Alina\AppData\Local\Temp\ipykernel_9224\2813004728.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  500 is 500

True

Проверки на None **всегда** следует делать с использованием ключевого слова `is`, подробнее об этом, а также о разнице между `is` и `==` можно прочиать [тут](https://stackoverflow.com/questions/3257919/what-is-the-difference-between-is-none-and-none) и [тут](https://pythonworld.ru/tipy-dannyx-v-python/none.html).

### Приведения базовых типов данных

Базовые типы данных часто можно преобразовывать из одного в другой следующим образом:

In [ ]:
int('123')

123

In [ ]:
str(345)

'345'

In [ ]:
float(5)

5.0

Для `float` приведение к `int` - отбрасывание дробной части:

In [ ]:
int(234.9)

234

In [ ]:
int(-3.14)

-3

In [ ]:
complex(5.1, 2)

(5.1+2j)

In [ ]:
str(complex(5.1, 2))

'(5.1+2j)'

Но не все преобразования допустимы:

In [ ]:
float('12.a')

ValueError: could not convert string to float: '12.a'

In [ ]:
complex('5.1', '2')

TypeError: complex() can't take second arg if first is a string

Таким образом, любое приведение `float`/`int`/`complex` значения в `str` допустимо, но не любое `str` значение можно привести к `float`/`int`/`complex`

Отдельно рассмотрим приведение к bool

Для `int` и `float`: `0` и `0.0` переводятся в `False`, все остальное - в `True`:

In [ ]:
bool(0), bool(0.0)

(False, False)

In [ ]:
bool(1), bool(24.1)

(True, True)

In [ ]:
bool(-2), bool(-12.3)

(True, True)

Для `str`: пустые строки - в `False`, остальное - в `True`:

In [ ]:
bool(''), bool('a')

(False, True)

In [ ]:
bool(None)

False

In [ ]:
bool(1+0j)

True

In [ ]:
bool(0+1j)

True

In [ ]:
bool(0+0j)

False

### Операторы сравнения

- `<`, `<=` - "меньше", "меньше или равно"
- `>`, `>=` - "больше", "больше или равно"
- `==`, `!=` - "равно", "не равно"

In [ ]:
4 < 5

True

In [ ]:
3 >= 2

True

In [ ]:
1 != 1

False

Также можно сравнивать строки, списки и кортежи. Сравнение происходит лексикографически (как в словаре):

ASCII

In [ ]:
'a' < 'b'

True

In [ ]:
'aa' < 'ab'

True

In [ ]:
'aaaa' < 'ab'

True

In [ ]:
'A' < 'a'

True

In [ ]:
'1' < 'A'

True

Помнить какому символу какой порядкой номер в ASCII-таблице соответствует не обязательно, для этого есть функция `ord` и обратная к ней - `chr`:

In [ ]:
ord('1'), ord('A'), ord('Z'), ord('Я')

(49, 65, 90, 1071)

In [ ]:
chr(ord('1')), chr(ord('A')), chr(ord('Z')), chr(ord('Я'))

('1', 'A', 'Z', 'Я')

### Логические операторы

Python позволять логические операции:

- `and` - логическое И, логическое произведение
- `or` - логическое ИЛИ, логическая сумма
- `not` - логическое НЕ

In [ ]:
a, b = True, False

In [ ]:
a and b

False

In [ ]:
a or b

True

In [ ]:
not b

True

## Ввод-вывод данных

Для считывания данных из `stdin` (стандартный ввод) используется функция `input()`:

In [ ]:
t = input()
t

Hello!

'Hello!'

In [ ]:
s = input("Input here: ")
s

Input here: Hi!

'Hi!'

Для вывода данных в `stdout` (стандартный вывод) используется `print()`:

In [ ]:
print(t, end='')
print(s)

Hello!Hi!

In [ ]:
print('spam', 'and', 'eggs', end='!', sep='_')

spam_and_eggs!

In [ ]:
print('e', end='')
print('n', end='')
print('d', end='')

end

Также можно считывать сразу числа:

In [ ]:
a = int(input())

a, type(a)

10

(10, int)

Считывать можно сразу массивы чисел(подробнее о том, что происходит на этой строке будет далее в курсе):

In [ ]:
a = list(map(int, input().strip().split()))

a

12 3 4 5

[12, 3, 4, 5]

Также можно читать данные из файлов, подробнее об этом [тут](https://docs.python.org/3/tutorial/inputoutput.html#reading-and-writing-files).

## Списки и кортежи

**Контейнеры** - типы данных, экземпляры (т.е. переменные этих типов данных) которых содержат в себе один или несколько других элементов.

**Основные встроенные контейнеры:**
- `list` - список
- `tuple` - кортеж
- `dict` - словарь
- `set` - множество

В данном ноутбуке будут рассмотрены только `list` и `tuple`, другие контейнеры - в курсе позднее.

### `list`

**List** (cписок, массив, лист) - контейнер, в котором доступ к его элементам предоставляется по индексу (порядковому номеру). Можно добавлять, удалять и изменять элемента.

Аналогичен `vector` из C++, но может содержать элементы разных типов (в том числе может содержать контейнеры).

#### Создание списков

Чтобы создать пустой список, можно использовать либо пустые квадратные скобки `[]`, либо использовать функцию `list()`:

In [1]:
a = []
b = list()

# убедимся, что два варианта создания пустого массива эквивалентны:
print(a == b)

True

In [3]:
list_with_diff_basic_types = [1, 2.0, 'string!', [None], False]  # или list(...)
list_with_diff_basic_types

[1, 2.0, 'string!', [None], False]

In [4]:
wish_list = ["smart-watch", "notebook", "iphone"]
wish_list

['smart-watch', 'notebook', 'iphone']

#### Индексация

Можно получить доступ к конкретному элементу по его индексу, нумерация с 0 по индексу:

In [7]:
wish_list[0], wish_list[1]

('smart-watch', 'notebook')

Индексы в Python могут быть и отрицательными! С помощью отрицательных индексов можно удобно получать доступ к элементам с конца списка.

Например, чтобы получить последний и предпоследний элементы списка, можем использовать индексы `-1` и `-2`, соответственно:

In [10]:
print("Список:", wish_list)
print("Последний элемент:", wish_list[-1])
print("Предпоследний элемент:", wish_list[-2])

Список: ['smart-watch', 'notebook', 'iphone']
Последний элемент: iphone
Предпоследний элемент: notebook

Если элемента с запрашиваемым индексом нет, Python выдаст ошибку:

In [13]:
wish_list[10]

IndexError: list index out of range

В качестве индексов можно (и очень часто нужно) использовать переменные! Главное - чтобы они были типа `int`.

In [15]:
index = 0
print(wish_list)
print(wish_list[index])

['smart-watch', 'notebook', 'iphone']
smart-watch

Если тип индекса не int, то будет ошибка:

In [18]:
wish_list[1.0]

TypeError: list indices must be integers or slices, not float

Внутри квадратных скобок также можно использовать арифметические операции и вызывать функции:

In [21]:
print(wish_list)
print(wish_list[2 * index + int(1.0)])

['smart-watch', 'notebook', 'iphone']
notebook

#### Изменение списков

Например, нам захотелось купить машину, добавим ее в наш список желаний с помощью функции `append`:

In [25]:
wish_list.append('car')
wish_list

['smart-watch', 'notebook', 'iphone', 'car']

In [27]:
wish_list.insert(1, 'dog')
wish_list

['smart-watch', 'dog', 'notebook', 'iphone', 'car']

Например, мы уже купили iphone, удалим его из нашего списка желаний с помощью функции `remove`:

In [29]:
wish_list.remove("iphone")
wish_list

['smart-watch', 'dog', 'notebook', 'car']

Удалить и получить элемент с конца массива можно с помощью другой функции - `pop`:

In [32]:
a = wish_list.pop()
print(wish_list)
print(a)
wish_list.append(a) # добавим элемент, чтобы далее с ним работать

['smart-watch', 'dog', 'notebook']
car

Если нужно удалить элемент по индексу, можно в методе `pop` указать индекс:

In [34]:
a = wish_list.pop(1)
print(wish_list)
print(a)
wish_list.append(a)

['smart-watch', 'notebook', 'car']
dog

Уточним модель смарт-часов в нашем `wish_list`

Можно изменять отдельные элементы списка:

In [37]:
# Здесь и далее сепаратор '\t\t' и '\t' добавляется исключительно для красоты

print("До изменения:", wish_list, sep='\t\t')

wish_list[0] = "smart-watch xiaomi s1"
print("После изменения:", wish_list, sep='\t')

До изменения:		['smart-watch', 'notebook', 'car', 'dog']
После изменения:	['smart-watch xiaomi s1', 'notebook', 'car', 'dog']

#### Арифметические действия со списками

Списки можно складывать. Результатом сложения двух списков будет новый список, в котором сначала будут записаны элементы первого списка, затем - второго:

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]

print(a + b)

[1, 2, 3, 4, 5, 6]

Вычитать списки нельзя:

In [ ]:
print(a - b)

TypeError: unsupported operand type(s) for -: 'list' and 'list'

Как и строки, списки можно домножать на целое число:

In [ ]:
[2, 3, 4] * 3

[2, 3, 4, 2, 3, 4, 2, 3, 4]

#### Проверка вхождения элемента

Для проверки, есть ли в списке какой-либо элемент, используем оператор `in`:

In [ ]:
print(wish_list)
print("iphone" in wish_list)
print("car" in wish_list)

['smart-watch xiaomi s1', 'car', 'notebook']
False
True

#### Cрезы

В Python имеется удобный способ выбирать диапазон элементов из строк, списков и кортежей. Он называется срез (slicing) и выглядит следующим образом:

```python
variable[start:stop:step]
```
где `start` - индекс начала выборки (включается), `stop` - индекс завершения выборки (исключается), `step` - шаг выборки. Если не указывать значения, то берутся значения по умолчанию: `start=0`, `end=len(...)`, `step=1`.

>**Примечание**
>
>Срезы работают для всех контейнеров, у которых можно получить доступ к их элементам по индексу. С этим мы еще встретимся при работе с библиотеками Python, например, с NumPy.

Рассмотрим на примере:

In [ ]:
string = "abcdefgh"
print(string[1:7:2])

bdf

В итоге мы взяли все элементы, начиная с индекса `1` (b) до индекса `7` (h, исключая) с шагом 2.

Аналогично срезы работают и для списков и кортежей:

In [ ]:
list_integers_range = [1, 2, 3, 4, 5]

print(list_integers_range[::2])

[1, 3, 5]

В примере выше взяли все элементы на четных местах(индексы - 0, 2, 4)

Шаг необязательно должен быть положительным, что помогает быстро переворачивать список:

In [ ]:
print(list_integers_range[::-1])

[5, 4, 3, 2, 1]

Списки поддерживают получение нескольких элементов с помощью срезов (slices):

In [ ]:
print(list_integers_range)
print(list_integers_range[1:4:2])  # формат "(индекс начала):(индекс конца, исключая):(шаг)"
print(list_integers_range[1:4])    # шаг по-умолчанию 1
print(list_integers_range[:4])     # начало по-умолчанию 0
print(list_integers_range[1:])     # конец по-умолчанию - последний индекс

[1, 2, 3, 4, 5]
[2, 4]
[2, 3, 4]
[1, 2, 3, 4]
[2, 3, 4, 5]

Срезы можно использовать не только для списков, но и для строк:

In [ ]:
s = "Very long string with lots of words"
print(s[0::2])

Vr ogsrn ihlt fwrs

Срезы можно использовать и для изменения нескольких элементов списка, а также вставлять элементы, а примере ниже вместо 2ух чисел вставим 3 числа:

In [ ]:
print(list_integers_range)
list_integers_range[1:2] = [200, 300, 400]
print(list_integers_range)

[1, 2, 3, 4, 5]
[1, 200, 300, 400, 3, 4, 5]

#### Поиск элемента

Можем не только по индексу получать элемент, но и наоборот - по значению найти где в списке такой элемент есть. Для этого использут метод `index`.

`L.index(element)` - возвращает индекс элемента `element` в списке `L`, если он там присутствует, иначе выдаст ошибку:

In [ ]:
print(list_integers_range)

print(list_integers_range.index(400))
print(list_integers_range.index(10))

[1, 200, 300, 400, 3, 4, 5]
3

ValueError: 10 is not in list

#### Сортировка списка

Отсортировать список можем двумя способами:

In [ ]:
print(list_integers_range)

# функция sorted возвращает отсортированную копию
list_integers_range_sorted = sorted(list_integers_range)
print(list_integers_range)
print(list_integers_range_sorted)

[1, 200, 300, 400, 3, 4, 5]
[1, 200, 300, 400, 3, 4, 5]
[1, 3, 4, 5, 200, 300, 400]

In [126]:
list_integers_range = [1, 200, 300, 400, 3, 4, 5]

# метод sort изменяет сам список, а не возвращает копию:
sort_return = list_integers_range.sort()
print(list_integers_range)
print(sort_return)

[1, 3, 4, 5, 200, 300, 400]
None

Сортировать можно не только списки, состоящие из чисел:

In [ ]:
list_strings = ['9', '4', '42', '8', 'a', 'bb', 'bac', 'символы']
print(sorted(list_strings))

['4', '42', '8', '9', 'a', 'bac', 'bb', 'символы']

Сортировка списка строк выполняется по лексикографическому порядку.

А что насчет сортировки списка, состоящего из элементов разных типов? Увы, такая операция в общем случае не поддерживается:

In [ ]:
list_diff_types = [[1, 2], 1, 2]
print(sorted(list_diff_types))

TypeError: '<' not supported between instances of 'int' and 'list'

### `tuple`

**Tuple** (кортеж) - контейнер, в котором доступ к его элементам предоставляется по индексу (порядковому номеру), но который является неизменяемым.

**TL;DR** кортеж является неизменяемым списком.

#### Создание кортежей

Создать кортеж можно с помощью круглых скобок:

In [ ]:
tuple_diff_types_example = (1, 2.0, '3', (4,), [None])

print(tuple_diff_types_example)
print(type(tuple_diff_types_example))

(1, 2.0, '3', (4,), [None])
<class 'tuple'>

**Замечание** - чтобы создать кортеж из одного элемента, необходимо после него поставить запятую:

In [ ]:
tuple_1 = (4)
tuple_2 = (4,)

print(type(tuple_1))
print(type(tuple_2))

<class 'int'>
<class 'tuple'>

Возможно создать кортеж и без круглых скобок по бокам (по сути - будет присвоение "один ко многим"), но это порой ухудшает читаемость кода:

In [ ]:
tuple_example = 'a', 5, 12.345, (2, 'b')
print(tuple_example)
print(type(tuple_example))

('a', 5, 12.345, (2, 'b'))
<class 'tuple'>

В Python возможно множественное присваивание:

In [ ]:
a, b = 1, 2
print(a, b)
a, b = b, a
print(a, b)

1 2
2 1

По сути, это эквивалентно:

In [ ]:
(a, b) = (1, 2)
print(a)
print(b)

1
2

#### Неизменяемость кортежа

Кортеж нельзя изменять. Давайте в этом убедимся:

In [ ]:
print(tuple_example)
tuple_example.append(5)

('a', 5, 12.345, (2, 'b'))

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
tuple_example[0] = 9

TypeError: 'tuple' object does not support item assignment

#### Разрешенные операции с кортежем

Но получать элементы по индексу и срезам, конечно, можно:

In [ ]:
print(tuple_example)
print(tuple_example[2])
print(tuple_example.index(5))
print(tuple_example[:2])

('a', 5, 12.345, (2, 'b'))
12.345
1
('a', 5)

Как и списки, кортежи можно складывать:

In [ ]:
m = (1, 2, 3)
print(tuple_example)
print(tuple_example + m)

('a', 5, 12.345, (2, 'b'))
('a', 5, 12.345, (2, 'b'), 1, 2, 3)

С кортежами можно делать все, что можно делать со списками, если это не изменяет кортеж:

In [ ]:
# узнать размер
print(len(tuple_example))

# проверить наличие элемента
print(5 in tuple_example)

4
True

#### Зачем нужен кортеж?

**Вопрос** - зачем нужен `tuple`, если есть более удобный в использовании `list`?

**Преимущества кортежа:**

1. **Кортежи работают быстрее списков.** Если нужен константный массив, то лучше использовать кортежи.
2. **Защита данных от записи.** Кортежи позволяют явно защитить данные от изменений.
3. **Могут быть использованы как ключи для словарей.** Некоторые кортежи являются хэшируемыми, и поэтому могут использоваться в качестве ключей для словарей.

### Задачи

1. В каком случае можно изменить элемент кортежа? Как это сделать?

2. Создать список. Вывести каждое 4-ое число.

3. Дан список. Получить кортеж, сортированный в обратном порядке и кортеж, сортированный по возрастанию чисел.

4. Поменять местами максимальный и минимальный элементы списка.

In [96]:
t = tuple(([1,2],5))
t

([1, 2], 5)

In [102]:
t[0].append(4)

In [104]:
t

([1, 2, 4], 5)

In [142]:
a = [1, 2,5,9,3,4,6,0,7]
print("a = ", a)
print(a[::4])
print(tuple(a[::-1]))
print(tuple(sorted(a)))

a =  [1, 2, 5, 9, 3, 4, 6, 0, 7]
[1, 3, 7]
(7, 0, 6, 4, 3, 9, 5, 2, 1)
(0, 1, 2, 3, 4, 5, 6, 7, 9)

In [138]:
a.sort()
a

[0, 1, 2, 3, 4, 5, 6, 7, 9]

In [140]:
print(tuple(a))

(0, 1, 2, 3, 4, 5, 6, 7, 9)

In [146]:
a = [1, 2,5,9,3,4,6,0,7]
print(a)
amin = min(a)
amax=max(a)
kmin=a.index(amin)
kmax=a.index(amax)
a[kmin], a[kmax] = a[kmax], a[kmin]
a

[1, 2, 5, 9, 3, 4, 6, 0, 7]

[1, 2, 5, 0, 3, 4, 6, 9, 7]